/* FOOTER */
.attribution {
    font-size: 11px;
    text-align: center;
    color: hsl(303, 10%, 53%);
}
.attribution a {
    color: hsl(333, 80%, 67%);
}

/* BODY */

.body {
    font-family: "Spartan";
    font-size: 15px;
    font-weight: 400;
    width: 80%;
    margin: auto;
}

.body_container {
    width: 60%;
    margin: auto;
    height: 65vh;
    background: url(./images/bg-pattern-top-mobile.svg) no-repeat, url(./images/bg-pattern-bottom-desktop.svg) no-repeat;
}

/* body_top */

.body_top {
    display: grid;
    grid-template-columns: 22vw 22vw;
    grid-template-rows: auto;
    width: 80%;
    margin: 30px auto;
}

.body_top_left {
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 15px;
}

.body_top_right {
    grid-column-start: 2;
    grid-column-end: 2;
    padding: 30px;
}

.body_top_title {
    color: hsl(300, 43%, 22%);
    font-weight: bold;
    font-size: 30px;
    width: 60%;
}

.title > span {
    font-size: 35px;
}

.body_top_info {
    color: hsl(303, 10%, 53%);
    width: 80%;
}

.useless {
    display: none;
}

/* stars */

.body_top_stars {
    display: grid;
    grid-template-columns: 5% 5% 5%;
    grid-template-rows: 17% 17% 17%;
}

.rated_stars {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20vw;
    height: 45px;
    background-color: #c8b8cca8;
    padding: 5px 15px;
    margin: 5px;
    border-radius: 5px;
}

.rated_stars > p {
    color: hsl(300, 43%, 22%);
    font-weight: 700;
}

.rated_a {
    grid-column-start: 1;
    grid-column-end: 2;
}

.rated_b {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.rated_c {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
}

.bg_stars {
    background: url(./images/icon-star.svg) repeat-x;
    width: 85px;
    height: auto;
    margin: 15px;
}

/* body_bottom */

.body_bottom {
    display: grid;
    grid-template-columns: 16vw 16vw 16vw;
    grid-template-rows: 2vh 2vh 2vh;
    width: 80%;
    margin: 30px auto;
}

.perso_a {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.perso_b {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}

.perso_c {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
}

.body_bottom_div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: hsl(300, 43%, 22%);
    margin: 15px;
    padding: 30px;
    width: 12vw;
    height: 12vh;
    border-radius: 5px;
}

.info_perso {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.info_text {
    font-size: 11px;
}

.body_bottom_div > div > div > img {
    border-radius: 60px;
    height: auto;
    width: 45%;
}

.names {
    color: hsl(0, 0%, 100%);
    margin: 0;
    font-weight: 700;
}

.pinky_buyer {
    color: hsl(333, 80%, 67%);
    margin: 0;
}

.info_text {
    color: hsl(300, 24%, 96%);
}